astroid==2.3.3
attrs==19.3.0
Click==7.0
dnslib==0.9.12
dnspython==1.16.0
Flask==1.1.1
flask-expects-json==1.4.0
importlib-metadata==1.4.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mongoengine==0.19.1
more-itertools==8.1.0
PyJWT==1.7.1
pymongo==3.10.1
pyrsistent==0.15.7
PythonDNS==0.1
six==1.14.0
typed-ast==1.4.1
Werkzeug==0.16.0
wrapt==1.11.2
zipp==2.0.0
