attrs==19.3.0
Click==7.0
dnspython==1.16.0
Flask==1.1.1
flask-expects-json==1.4.0
importlib-metadata==1.4.0
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.2.0
MarkupSafe==1.1.1
mongoengine==0.19.1
more-itertools==8.1.0
PyJWT==2.4.0
pymongo==3.10.1
pyrsistent==0.15.7
redis==3.3.11
six==1.14.0
Werkzeug==0.16.0
zipp==2.0.0
